# Server
NODE_ENV=development
PORT=3000

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# CORS
CORS_ORIGIN=*

# JWT Configuration (IMPORTANT: Must use same secret for signing and verifying)
JWT_SECRET=your_jwt_secret_key_change_this_in_production

# Database Configuration
DATABASE_URL=postgresql://user:password@localhost:5432/upi_db

# Payment Gateway
RAZORPAY_KEY_ID=rzp_test_SiBM4N1hcd7Gvm
RAZORPAY_KEY_SECRET=VXK36PhEJZW9AwgRv0I8pIZW
RAZORPAY_WEBHOOK_SECRET=Zxcvbnm@123
RAZORPAY_WEBHOOK_URL=https://upi.chugalkhor.com/api/webhook/razorpay

DB_LOGGING="true"
NODE_ENV=development
PORT=3000